<!-- FOOTER  -->
<div class="footer-section">
  <div class="footer-top">
    <div class="footer-top__brand-container flex">
      <div class="footer-top__site-brand flex">
        <div class="footer-top__logo-title">
          <h1>Ember Glow</h1>
          <img src="../../assets/images/icons/hotel-logo-600.png" alt="hotel logo" />
        </div>
        <div class="footer-top__subtitle">
          <p>
            Creating Sparkling Moments,<br />
            Every Stay!
          </p>
        </div>
      </div>
    </div>
    <div class="footer-top__navigations-container flex">
      <ul class="flex">
        <li><a href="#">Site Map</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-top__address-container flex">
      <div class="footer-top__address flex">
        <li class="flex address-li">
          <p>
            <span>Address 1</span>: 76th street, between 10th x 12th,
            AungMyayTharZan, Mandalay, Myanmar. <br />
            <span>Phone No</span>: +95-9-912734589
          </p>
        </li>
        <li class="flex address-li">
          <p>
            <span>Address 2</span>: Rose street, 73rd & 32th street corner
            Sulae Township, Yangon, Myanmar. <br />
            <span>Phone No</span>: +95-9-972134567
          </p>
        </li>
      </div>
    </div>
  </div>
  <hr class="footer-section__hr" />
  <div class="footer-bot flex">
    <div class="header">
      <h3>Follow Our Socials</h3>
    </div>
    <div class="links">
      <a href="#"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-twitter"></i></a>
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-discord-alt"></i></a>
    </div>
    <div class="copyright">
      <p>~ &COPY;2024 All Rights Reserved ~</p>
    </div>
  </div>
</div>
