<!-- <div class="container">
    <div class="card">
        <h4>date: 30.6.24</h4>
        <div class="img">
            <img src="../../assets/image/IMG_2657.jpeg" height="150" width="150" ><h6>Angular is a TypeScript-based free and open-source single-page web application framework run on Node.js.</h6>
            
           
        </div>
    </div>
   
</div> -->
<app-navigater></app-navigater>
<div class="card">
  <div class="bg-img"></div>

  <!-- Welcome text, explore btn -->
  <div class="container">
    <div class="welcome flex">
      <div class="welcome__text flex">
        <h2>Savor Culinary Delights</h2>

        <p class="welcome__text-paragraph">
          Indulge in an unforgettable dining experience at
          <strong>Ember Glow</strong>, where each dish is a masterpiece waiting to
          be savored. Join us and elevate your dining experience to new heights!
        </p>
    
      </div>
      <button class="btn btn-outline-success">intereste</button>
    </div>
  </div>
  <div class="bg-img2"></div>
  <div class="container1">
    <div class="welcome flex">
      <div class="welcome__text flex">
        <h2>Savor Culinary Delights</h2>

        <p class="welcome__text-paragraph">
          Indulge in an unforgettable dining experience at
          <strong>Ember Glow</strong>, where each dish is a masterpiece waiting to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!
        </p>
        
      </div>
      <button class="btn btn-outline-success">intereste</button>
    </div>
  </div>
  <div class="bg-img3"></div>
  <div class="container1">
    <div class="welcome flex">
      <div class="welcome__text flex">
        <h2>Savor Culinary Delights</h2>

        <p class="welcome__text-paragraph">
          Indulge in an unforgettable dining experience at
          <strong>Ember Glow</strong>, where each dish is a masterpiece waiting to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!where each dish is a masterpiece waiting
          to
          be savored. Join us and elevate your dining experience to new heights!
        </p>
      </div>
      <button class="btn btn-outline-success">intereste</button>
    </div>
  </div>
</div>