<!-- Dining bg img -->
<div class="bg-img"></div>

<!-- Welcome text, explore btn -->
<div class="container">
  <div class="welcome flex">
    <div class="welcome__text flex">
      <h2>Savor Culinary Delights</h2>
      
      <p class="welcome__text-paragraph">
        Indulge in an unforgettable dining experience at
        <strong>Ember Glow</strong>, where each dish is a masterpiece waiting to
        be savored. Join us and elevate your dining experience to new heights!
      </p>
    </div>
    <button class="welcome__btn btn flex" (click)="scroll(restaurant_section)">
      <i class="bx bx-search-alt"></i>
      <span>Explore</span>
    </button>
  </div>
</div>

<!-- Restaurants Overview -->
<section #restaurant_section class="restaur-section">
  <app-food-resturant></app-food-resturant>
</section>

<!-- FOOTER -->
<!-- <app-footer></app-footer> -->