<app-navigater></app-navigater>
<div class="ht-img">
    <div class="ht">
        <img src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="" width="600"
            height="700">
    </div>
    <div class="ht-tet">
        <h1>DISCOVER</h1>
        <h5>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h5>
        <button class="btn btn-light"> Explore</button>
    </div>
</div>
<div class="img-ht">
    <div class="text">
        <h1>DISCOVER</h1>
        <h4>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h4>
        <button class="btn btn-light"> Explore</button>
    </div>
    <div class="img">
        <img src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="" width="600"
            height="700">
    </div>
</div>
<div class="ht-img">
    <div class="ht">
        <img src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="" width="600"
            height="700">
    </div>
    <div class="ht-tet">
        <h1>DISCOVER</h1>
        <h5>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h5>
        <button class="btn btn-light"> Explore</button>
    </div>

</div>
<div class="img-ht">
    <div class="text">
        <h1>DISCOVER</h1>
        <h4>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h4>
        <button class="btn btn-light"> Explore</button>
    </div>
    <div class="img">
        <img src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt=""  width="600"
        height="700">
    </div>
</div>
<div class="ht-img">
    <div class="ht">
        <img src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="" width="600"
            height="700">
    </div>
    <div class="ht-tet">
        <h1>DISCOVER</h1>
        <h5>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h5>
        <button class="btn btn-light"> Explore</button>
    </div>
</div>