h1{
    font-weight: 6000;
}
.ht-img{
    display: flex;
}
.ht-tet{
   padding: 10%;
}
.img-ht{
    display: flex;
}
.img{
    margin-left: 44%;
}
.text{
    
}
.btn{
    color: blue;
}
/* *{
   background-color: aqua;
} */