<div class="card-de ">
    <div class="card-bk">
        <h3>TO BOOK YOUR STAY IN Five-star Crown-Hotel</h3>
        <h6>wellcome to crown-hotel for Gentlemen</h6>
        
    </div>
    <div class="knofu">
         <h4>call - <a href="">093224221</a></h4>
         <h4> email - <a href="">jkashdfha@email</a></h4>

    </div>
    <div>
        <h5>Adress 1: 76th street, between 10th x 12th, AungMyayTharZan, Mandalay, Myanmar.</h5>
        <h5>Address 2: Rose street, 73rd & 32th street corner Sulae Township, Yangon, Myanmar.</h5>
    </div>
  
</div>
<div class="line">
    
</div>
<div class="logo">
    <a href=""> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAQlJREFUaEPtl2EOwiAMhbuTOU+mnsx5MrXJSPhRCG3BFff4tRji+t77KN1Ck69l8voJAo5OEAmcJYE7EV12sWsmetufH0SUnlWejEaIC781VHSNKOD5LSp3u6YjnIBW55OocALeDdjkW0IJYGwYH80KJaCGT+o2po4jOTKiC9UOr9npUpy/FMCus4CuCwIEO0sIIYGjD3G4BLjfS3NObXwotU/z4fYcYsuF1b0bRhDgQgsCOtxK0yfA8xHPT6blQYhfKL249AXGTr+EKvl383DnFSC5hptYwxISwDCn4UXYC4SAEBByOgCEnAaiCwEhIOR04B8R6m9J5R9HdCEI0DiABDRujdg7fQIffyhLMbkCEtYAAAAASUVORK5CYII="/></a>
   <a href=""><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAehJREFUaEPtWAlOBDEM674MeBnwMuBlIMN4FY06bdyEVit1pNUe0xyO3WS2t/Lg1+3B8y8bwGoGNwObgWAFtoQGCvhcSnk97PD5/fj8WUrBS7paDMC57LARnYnj/eoCmDdzE2u53v5+X9ICQIOqoVSmv6RY9Z6pLRqTPwNzAfg+Vl0a9zI57ivJ11w2418xAOQfxlsEBPy0ZNOqA9hAbLD3dZLXr50XAIOoQKLVt+CquaoA4FABkQGALFQbyggAhY2IfBAHSb+0NNbqQt7g7OO1buX1cZUjkm+28t4csBvZ03QIhtXD5hvdwPARAgAHGRr2AE9ngBMQ9NnRH0lmxLb7rBbZxCMJqTbDABCIk1gNmrW+24Fagwz3oh0kCsQ1b7K7UDRpa9/tQD0GVnehrv49AFaBcMnHC4Ag8O59po9KyVX9EQBPwcnqAeauvgJgZkt1V18BMOuRQqq+AmDGZnYNrrMGJbr++eHO1fejAGgPSWVuaFk6TERlwBbAc86T3nUyGciYCUOysSAUBrIqjvjNP+oe2noSosa5LvK38JzPsN5rwHpHixkyYdy0qqsSigwxJk3ZKOpwrVX3AKWEFoqL3+3RB44A+T3zdLsKSAHgqsjsRRvA7IpnDbLVed/jbwmtpmIzsJqBH2ISVjEWJgWZAAAAAElFTkSuQmCC"/></a>
   <a href=""><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAX1JREFUaEPtWEsSwiAMpTfTk6kn05upzxGH0gCBhEKdsGHREvI+JLSLO/hYDp6/MwCjFTQFTAEhA2YhIYHi5X+rwMk5d3HOYca4feermDJeAGp/cm9KASy+J/YBkN4gEB/kUeP8JvURPqAA5AJ4NXqBKO2N5AHiNygAT57Kn0ArNpjrqNdiy6RCqQLQUqPEegxmRbpEAR9Yci5qk8ee6gA8kBpLcS1DWakbAK6lWlhPnlsNC8Us5SyF8ux7S+uZ76pAmFRoKYlluh/iHJO+g6caU4sKuynQkhxnjQHgsNTzHRUF0NKl1SQGyY2pAgBBpPU8BOBLL+cepgYACWiACPvG7gAAorXGwzJIPrzRDgHgrVCjRqpbDwXAtVTuqjEcQM5SlGXiSjQFAMpS3G+GqQB4S4VzqcFNB6CU8NQWqk0e75sCTSy0UJ1YYwqAGM53a6+fwiUFNuU4lUjpWjACwOavHNjulYjisciHMgC7UZ3YyBQwBYQMmIWEBIqXvwD1AFsxY7xxXwAAAABJRU5ErkJggg=="/></a>
</div>
