.card-de{
    background-color: rgba(99, 82, 131, 0.415) !important;
    margin-top: 2%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* margin: 30px; */
    display: flex;
}
.knofu{
    margin-left: 20px;
}
.line{
    background-color: black;
    padding: 2px;
    border-radius: 20px;
    box-sizing: initial;
}
.logo{
    margin-left: 40%;
    display: flex;
}