<app-navigater></app-navigater>
<!-- Restaurants Overview -->
<section #restaurant_section class="restaur-section container top-m">
    <div class="restaur-section__greeting flex">
      <h1>Discover Your Taste!</h1>
      <p>Let your taste buds be your guide on a delicious journey</p>
    </div>
    <div class="restaurs__container">
      <!-- GREEN RESTAURANT -->
      <h3 class="restaur__title top-m">Sushi Zen</h3>
      <div class="restaur__img-wrapper restaur__img1">
        <img
          class="lazy loading"
          src="../../assets/image/res-green.jpg"
          alt="suite image" width="400" height="200"
        />
      </div>
      <div class="restaur__text restaur__content1">
        <h3 class="restaur__subtitle">Sushi Zen</h3>
        <p class="restaur__desc1">
          Our master chefs craft exquisite sushi rolls
          with precision and passion, inviting you to savor each bite of Japanese
          culinary artistry.
        </p>
        <p class="restaur__desc2">
          Prepare to be delighted by the freshest ingredients and innovative flavors that
          await you at Sushi Zen.
        </p>
        <button onclick="sushi.showModal()" class="btn restaur__btn flex"> 
          <i class='bx bx-food-menu'></i>
          <span>Menu</span> </button>
      </div>
  
      <!-- WHITE RESTAURANT -->
      <h3 class="restaur__title top-m">Wine & Dine</h3>
      <div class="restaur__img-wrapper restaur__img2">
        <img
          class="lazy loading"
          src="../../assets/image/res-white.jpg"
          alt="Superior restaur image"
          width="400" height="200"
        />
      </div>
      <div class="restaur__text restaur__content2">
        <h3 class="restaur__subtitle">Wine & Dine</h3>
        <p class="restaur__desc1">
          Where dishes are perfectly paired with an exceptional selection of wines from around the
          world, promising an unforgettable dining experience.
        </p>
        <p class="restaur__desc2">
          Prepare to tantalize your taste buds with our diverse menu of gourmet
          delights.
        </p>
        <button onclick="wine.showModal()" class="btn restaur__btn flex"> 
          <i class='bx bx-food-menu'></i>
          <span>Menu</span> </button>
      </div>
  
      <!-- GOLD RESTAURANT -->
      <h3 class="restaur__title top-m">The Golden Taproom</h3>
      <div class="restaur__img-wrapper restaur__img3">
        <img
          class="lazy loading"
          src="../../assets/image/res-gold.jpg"
          alt="Deluxe restaur image"
          width="400" height="200"
        />
      </div>
      <div class="restaur__text restaur__content3">
        <h3 class="restaur__subtitle">The Golden Taproom</h3>
        <p class="restaur__desc1">
          A vintage-inspired lounge offering classic libations in an inviting
          setting.
        </p>
        <p class="restaur__desc2">
          Step back in time and experience the charm of yesteryears at The Golden
          Taproom.
        </p>
        <button onclick="taproom.showModal()" class="btn restaur__btn flex"> 
          <i class='bx bx-food-menu'></i>
          <span>Menu</span> </button>
      </div>
    </div>
  </section>
  
  <!-- Food Menus -->
  <dialog id="sushi" class="menu-container flex">
    <div class="left-menu flex">
      <img class="left-menu-img1" src="../../assets/images/menus/sushi-menu-sm1.jpg" alt="">
      <img class="left-menu-img2" src="../../assets/images/menus/sushi-menu-sm2.jpg" alt="">
    </div>
    <img class="main-menu" src="../../assets/images/menus/sushi-menu.jpg" alt="">
    <div class="right-menu flex">
      <img class="right-menu-img1" src="../../assets/images/menus/sushi-menu-sm3.jpg" alt="">
      <img class="right-menu-img2" src="../../assets/images/menus/sushi-menu-sm4.jpg" alt="">
    </div>
    <button class="close-menu" onclick="sushi.close()">
      <i class='bx bx-x-circle'></i>
    </button>
  </dialog>
  
  <dialog id="wine" class="menu-container flex">
    <div class="left-menu flex">
      <img class="left-menu-img1" src="../../assets/images/food.1.avif" width="300" height="150" alt="">
      <img class="left-menu-img2" src="../../assets/images/foods.2.avif" width="300" height="150" alt="">
    </div>
    <button class="close-menu" onclick="wine.close()">
      <i class='bx bx-x-circle'></i>
    </button>
    <img class="main-menu" src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="">
    <div class="right-menu flex">
      <img class="right-menu-img1" src="../../assets/images/foods.3.avif" width="300" height="150" alt="">
      <img class="right-menu-img2" src="../../assets/image/marset.jpg" width="300" height="150" alt="">
    </div>
    <button class="close-menu" onclick="wine.close()">
      <i class='bx bx-x-circle'></i>
    </button>
  </dialog>
  
  <dialog id="taproom" class="taproom menu-container flex">
    <div class="left-menu flex">
      <img class="left-menu-img1" src="../../assets/image/marset.jpg" alt="">
      <img class="left-menu-img2" src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="">
    </div>
    <img class="main-menu" src="../../assets/image/marset.jpg" alt="">
    <div class="right-menu">
      <img class="right-menu-img1" src="../../assets/image/marset.jpg" alt="">
    </div>
    <button class="close-menu" onclick="taproom.close()">
      <i class='bx bx-x-circle'></i>
    </button>
  </dialog>