/* Restaurant Section */
.restaur-section {
    height: auto;
    color: var(--clr-dark);
    text-align: center;
}

.restaur-section__greeting {
    padding: 0 .5rem;
    flex-direction: column;
    gap: .3rem;
}
.restaur-section__greeting h1 {
    font-size: var(--size-2xl);
}
.restaur-section__greeting p {
    font-size: var(--size-base);
}
.restaur__title {
    font-size: var(--size-xl);
}
.restaur__img-wrapper {
    margin: 1rem 0;
    position: relative;
}
.restaur__text {
    margin-bottom: 1rem;
}
.restaur__subtitle {
    display: none;
}
.restaur__desc1 {
    font-weight: 600;
    margin-bottom: .3rem;
}
.restaur__btn {
    gap: .3rem;
    width: fit-content;
    margin: .5rem auto 3rem;
}
.restaur__btn i {
    font-size: var(--size-2xl);
}

/* Food menu dialogs */
.menu-container::backdrop {
    background-color: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.menu-container {
    background-color: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff50;
    border-radius: 8px;
    width: 100%;
    height: 50%;
    margin: auto 0;
    gap: .5rem;
}
.left-menu,
.right-menu {
    width: 70px;
    flex-direction: column;
    gap: .5rem;
}
.main-menu {
    width: 60px;
}
.close-menu .bx-x-circle {
    margin: 1rem;
    color: var(--clr-amber50);
    font-size: var(--size-4xl);
    position: absolute;
    top: 0;
    right: 0;
}

/* bg clrs for each dialog */
#sushi {
    background: rgb(91, 253, 39);
    background: linear-gradient(45deg, rgba(91, 253, 39, 0.31811276891014795) 0%, rgba(9, 16, 42, 0) 70%);
}
#wine {
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.31811276891014795) 0%, rgba(9, 16, 42, 0) 100%);
}
#taproom {
    background: rgb(253, 221, 39);
    background: linear-gradient(45deg, rgba(253, 221, 39, 0.31811276891014795) 0%, rgba(9, 16, 42, 0) 70%);
}
.taproom .main-menu,
.taproom .right-menu {
    width: 120px;
}

/* xs */
@media (min-width: 475px) {
    .menu-container {
        width: 90%;
        height: 60%;
        margin: auto;
    }
    .main-menu {
        width: 160px;
    }
    #taproom .main-menu,
    #taproom .right-menu {
        width: 150px;
    }
}

/* sm */
@media (min-width: 640px) {
    .restaurs__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'img1 content1'
            'content2 img2'
            'img3 content3';
        place-items: center;
    }
    .restaur__img1 {
        grid-area: img1;
        size: 40px;
    }
    .restaur__img2 {
        grid-area: img2;
    }
    .restaur__img3 {
        grid-area: img3;
    }
    .restaur__content1 {
        grid-area: content1;
    }
    .restaur__content2 {
        grid-area: content2;
    }
    .restaur__content3 {
        grid-area: content3;
    }
    .restaur-section__greeting {
        margin: 2rem 0;
    }
    .restaur__img-wrapper {
        margin: 0;
    }
    .restaur__text {
        padding: .5rem;
    }
    .restaur__title {
        display: none;
    }
    .restaur__subtitle {
        display: block;
        margin-bottom: .5rem;
    }
    .restaur__btn {
        margin: .65rem auto 0;
    }
}

/* md */
@media (min-width: 768px) {
    .restaur-section__greeting h1 {
        font-size: var(--size-3xl);
    }

    .restaur-section__greeting p {
        font-size: var(--size-xl);
    }

    .restaur__img-wrapper {
        margin: 0;
    }

    .restaur__subtitle {
        font-size: var(--size-2xl);
    }

    .restaur__text {
        font-size: var(--size-lg);
    }

    .menu-container {
        border: none;
        width: 100%;
        height: 100vh;
        gap: 1rem;
    }
    .left-menu,
    .right-menu {
        width: 120px;
        gap: 20rem;
    }
    .main-menu {
        width: 300px !important;
    }

    .left-menu-img1 {
        transform: rotate(-15deg);
    }
    .left-menu-img2 {
        transform: rotate(-30deg);
    }
    .right-menu-img1 {
        transform: rotate(15deg);
    }
    .right-menu-img2 {
        transform: rotate(30deg);
    }

    /* taproom img adjustment */
    .taproom > .right-menu {
        width: 300px !important;
    }

    /* dialog manipulation */
    dialog {
        scale: 0;
        opacity: 0;
        transform: translateY(100vh);
        transition: transform .45s;
    }
    dialog[open] {
        scale: 1;
        opacity: 1;
        transform: translateY(0);
    }
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
    .restaur-section {
        width: 75%;
    }
    .restaur-section__greeting {
        margin: 2rem 0;
    }
    .restaur__btn span{
        font-size: var(--size-lg);
    }
}
/* 2xl */
@media (min-width: 1536px) {
    .restaur-section__greeting {
        margin: 3rem 0;
    }
    .restaur-section__greeting h1 {
        font-size: var(--size-4xl);
    }
    .restaur__subtitle {
        font-size: var(--size-3xl);
    }
    .restaur__text {
        font-size: var(--size-xl);
        padding: 1rem;
    }
    .restaur__desc1 {
        margin: 1rem 0;
    }
    .restaur__btn {
        gap: .3rem;
        width: fit-content;
        margin: 1rem auto 0;
    }
    .restaur__btn i {
        font-size: var(--size-3xl);
    }
    .restaur__btn span {
        font-size: var(--size-xl);
    }
}