<app-navigater></app-navigater>
<div>
    <h1>OUR ROOM</h1>
</div>

<div class="card-bk">
    <div class="card">
        <div class="img-card">
            <a href=""> <img src="../../assets/image/room.jpg" alt="" width="500" height="250"></a>
            <div class="text">
                <h2>Dinner </h2>
                <h6>Dinner for two at our signature restaurant Kaandela with our famous tasting menu created by the
                    renowned Panamanian Chef Edy Acedo</h6>
                <h6>price - US 350$</h6>
            </div>
            <button class="btn btn-outline-success">BOOk Now</button>
        </div>

    </div>
    <div class="card">
        <div class="card-i">
            <a href=""> <img src="../../assets/image/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg" alt="" width="510"
                    height="250"></a>
            <div class="text">
                <h2>Romantic Experience</h2>
                <h6>Live a unique brand experience. Cultivate human and romantic connection with your dearest one. Come
                    and live Amarla, we will craft a magical night for you</h6>
                <h6>price - US 360$</h6>
            </div>
            <button class="btn btn-outline-success">BOOK NOW</button>
        </div>
    </div>
    <div class="card">
        <div class="card-i">
            <a href=""> <img src="../../assets/image/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg" alt="" width="510"
                    height="250"></a>
            <div class="text">
                <h2>Romantic Experience</h2>
                <h6>Live a unique brand experience. Cultivate human and romantic connection with your dearest one. Come
                    and live Amarla, we will craft a magical night for you</h6>
                <h6>price - US 360$</h6>
            </div>
            <button class="btn btn-outline-success">BOOK NOW</button>
        </div>
    </div>
    <div class="card">
        <div class="card-i">
            <a href=""> <img src="../../assets/image/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg" alt="" width="510"
                    height="250"></a>
            <div class="text">
                <h2>Romantic Experience</h2>
                <h6>Live a unique brand experience. Cultivate human and romantic connection with your dearest one. Come
                    and live Amarla, we will craft a magical night for you</h6>
                <h6>price - US 360$</h6>
            </div>
            <button class="btn btn-outline-success">BOOK NOW</button>
        </div>
    </div>
    <div class="card">
        <div class="card-i">
            <a href=""><img src="../../assets/image/room.jpg" alt="" width="510" height="250"></a>
            <div class="text">
                <h2>Romantic Experience</h2>
                <h6>Live a unique brand experience. Cultivate human and romantic connection with your dearest one. Come
                    and live Amarla, we will craft a magical night for you</h6>
                <h6>price - US 360$</h6>
            </div>
            <button class="btn btn-outline-success">BOOK NOW</button>
        </div>
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="overview2">Next</a></li>
            </ul>
        </nav>
    </div>
</div>