<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/image/hotel-logo-600.png" alt="logo" width="35" height="28">
        
        MSI Crown-Hotel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mid-part flex" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="overview">Rooms</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="events" role="page" aria-expanded="false">Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="food" role="button" aria-expanded="false">
              Foods
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="false">other</a>
          </li>
        </ul>
        <!-- <a class="nav-link" href="screen">detail</a> -->
          <button class="btn btn-light">login</button>
      </div>
    </div>
  </nav> 