<!-- <app-navigater></app-navigater>
<div class="ohw">
    <img src="../../assets/image/taxi1.jpeg" alt="" width="800" height="400">
    <div class="text">
        <h1>MI NI OWAY</h1>
        <h4>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h4>
    </div>
</div>
<div class="ohw">
   <div class="text">
    <h1>oo pain</h1>
    <h4>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within</h4>
   </div>
   <div class="img">
    <img src="../../assets/image/taxi2.jpeg" alt="" width="600"height="400">
   </div>
</div>
<div class="ohw">
    <img src="../../assets/image/taxi1.jpeg" alt="" width="800" height="400">
    <div class="text">
        <h1>MI NI OWAY</h1>
        <h4>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h4>
    </div>
</div>
<div class="ohw">
    <div class="text">
     <h1>oo pain</h1>
     <h4>PPrepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within</h4>
    </div>
    <div class="img">
     <img src="../../assets/image/taxi2.jpeg" alt="" width="600"height="400">
    </div>
 </div>
 <div class="ohw">
    <img src="../../assets/image/taxi1.jpeg" alt="" width="800" height="400">
    <div class="text">
        <h1>MI NI OWAY</h1>
        <h4>Prepare to be delighted when you stay at Panama’s first adult-only boutique hotel, Amarla Boutique Hotel in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most memorable sights. Let us share our manifesto with you and the story of how we turned this historic colonial home into a beautiful boutique hotel.</h4>
    </div>
</div> -->
<div class="taxi">
    <div class="ht-tx">
        <img src="../../assets/image/taxi1.jpeg" alt="" width="400" height="250">
        <h1>phone - 09834134</h1>
    </div>
    <div class="tx-ht">
        <img src="../../assets/image/taxi2.jpeg" alt="" width="400" height="250">
        <h2>phone- 093424234</h2>
    </div>
</div>
<div class="car">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcKzPkIvD_kkkdw5wDATb-PXgv2oIURJh6HQ&usqp=CAU" alt="" width="1000" height="500">
    <div class="text">
        <h2>Amarla has just eight en-suite guest rooms,</h2>
        <h3>phone - 092432323</h3>
    </div>
</div>
<div class="taxi">
    <div class="ht-tx">
        <img src="../../assets/image/taxi1.jpeg" alt="" width="400" height="250">
        <h2>phone - 093241234</h2>
    </div>
    <div class="tx-ht">
        <img src="../../assets/image/taxi2.jpeg" alt="" width="400" height="250">
        <h2>phone - 092341324</h2>
    </div>