/* You can add global styles to this file, and also import other style files */
body {
    padding: 25px;
    background-color: rgba(145, 149, 191, 0.533);
    color: rgb(48, 48, 48);
    font-size: 20%;
    font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
 
  }
  
  .dark-mode {
    background-color: black;
    color: rgb(255, 0, 0);
  }
 
.bed{
  background-color: rgba(249, 143, 143, 0.273);
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
