<app-navigater></app-navigater>
<!-- <div class="img">
   <img src="../../assets/image/modern-studio-apartment-design-with-bedroom-living-space.jpg"width="1500" height="700" alt="">
</div> -->
<div class="bed">
    <div class="bg-img">
        <h1>
            <button class="button">
                <span class="actual-text">
                    &nbsp;Hello&nbsp;

                </span>
                <!-- <span class="hoveer-text">
               <h1> ;Crown-Hotel&</h1>

            </span> -->
            </button>
        </h1>
        <!-- <iframe  width="1400" height="750" src="https://www.youtube.com/embed/_LAZPOBr-J4"
            title="Conception d&#39;une maison à Sarzeau" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe> -->
        <div class="video"> 
            <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="../../assets/video/video.mp4" type="video/mp4" [width]="100" [height]="100">
            </video>
        </div>
    </div>

    <div>
        <h1>Our Rooms</h1>
        <h3>Amarla has just eight en-suite guest rooms, each beautifully decorated with select pieces from local
            craftsmen
            and artisans. Amarla is perfectly sized for our team to become acquainted with every one of our guests. We
            love
            the opportunity this gives us to share our local knowledge and passion for Panama</h3>
    </div>
    <div class="all-cards">
        <div class="card card-hoveraera">
            <img src="tree.png" class="img-tree- -left" alt="">
            <img src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="img" width="479"
                height="250">

            <div class="card-body " style="width: 30rem;">
                <h2 class="card-title">VIP ROOM</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn">Learm More</a>

            </div>
        </div>
        <div class="card" style="width: 30rem;">
            <img src="../../assets/image/room.jpg" alt="img" width="479" height="250">

            <div class="card-body ">
                <h2 class="card-title">premiun room</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn">Learm More</a>

            </div>
        </div>
    </div>

    <div class="text">
        <h2>Boutique Hotel in Casco Viejo, Panama</h2>
        <h4>Amarla Boutique Hotel in Casco Viejo, Panamá is your dream home away from home. You’ll discover what that
            means
            the moment you step inside. Our warm and attentive service, and attention to detail are the foundations of
            everything we do. That’s why we are considered one of the best boutique hotels in Panama.</h4>
    </div>
    <div class="card-img">
        <div class="ht-img">
            <img src="../../assets/image/room.jpg" alt="" width="1000
            " height="300">
            <div class="ht-text">
                <h5>delighted when you stay at Panama's first adult-only boutique hotel, Amarla Boutique Hotel in Casco.
                    Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of
                    historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most
                    memorab</h5>

                <button class="btn md-btn ">leram more</button>
            </div>
        </div>
    </div>

    <div class="img-card">

        <div class="text-ht">
            <h4>Amarla Boutique Hotel in Casco Viejo,Panama's first adult-only boutique hotel, Amarla Boutique Hotel in
                Casco. Steeped in history and full of charm</h4>

            <button class="btn btn-outline-success"> Learm More</button>


        </div>
        <div class="img-ht">
            <img src="../../assets/image/room.jpg" alt="" width="500" height="250">
        </div>
    </div>

    <div class="img">
        <div class="img">
            <img src="../../assets/image/foods.png" alt="" width="400" height="200">
        </div>
        <div class="img">
            <img src="../../assets/image/point3d-commercial-imaging-ltd-5BV56SdvLmo-unsplash.jpg" alt="" width="400"
                height="200">
        </div>
        <div class="img">
            <img src="../../assets/image/mark-champs-Id2IIl1jOB0-unsplash.jpg" alt="" width="400" height="200">
        </div>
    </div>



    <div class="card-title">
        <div class="ht-tet">
            <img src="../../assets/image/marset.jpg" alt="" width="500" height="250">
        </div>
        <div class="text-card">
            <h2> Experiences</h2>
            <h6>Prepare to be delighted when you stay at Panama's first adult-only boutique hotel, Amarla Boutique Hotel
                in Casco. Steeped in history and full of charm, Amarla Boutique Hotel is located right in the heart of
                historic Panama. We offer an oasis of calm within easy walking distance of many of Panama’s most
                memorable sights. Let us share our manifesto with you and the story of how we turned this historic
                colonial home into a beautiful boutique hotel.</h6>
        </div>
    </div>
</div>
<app-downnav></app-downnav>